@import "tailwindcss";

@theme {
  --color-primary: #ff6b35;
  --color-primaryHover: #e85a2a;

  --color-bgBase: #f7f5f2;
  --color-bgLight: #ffffff;
  --color-bgAccentLight: #fff0ea;

  --color-ink: #1a1a1a;
  --color-inkMid: #555555;
  --color-inkLight: #a0a0a0;

  --color-borderLite: #ebebeb;
}

@layer base {
  body {
    background-color: #000000;
    color: var(--color-ink);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
